<h1>Orders</h1>

<div class="container">
  <div class="row">
  <%=  render 'shared/table', headers: %w[Warehouse Customer\ Name ], records: @orders, title: 'order', route: ->(id) { order_path(id) }, edit_route: ->(id) { edit_order_path(id) }, color: 'danger' %> 
  </div>

  <div class="row">
    <%= link_to 'New Order', new_order_path, class: 'btn btn-danger' %>
  </div>
</div>


