

<div class="container">
  <div class="row">
  <%=  render 'shared/table', headers: %w[Street City Province], records: @warehouses, title: 'warehouse', route: ->(id) { warehouse_path(id) }, edit_route: ->(id) { edit_warehouse_path(id) }, color: 'primary' %> 
  </div>

  <div class="row">
    <%= link_to 'New Warehouse', new_warehouse_path, class: 'btn btn-primary' %>
  </div>
</div>